<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    ORDER ID: {{ order.id }} <br>
    STATUS: {{ order.get_status_display }}
    <form action="{% url 'panel:update_status' order.id %}" method="post">
        {% csrf_token %}
        <select name="status">
            <option disabled selected>Choose status</option>
            {% for id, value in statuses %}
                <option value="{{ id }}">{{ value }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Change">
    </form><br>
    PRICE: {{ order.total_price }} <br/>
    CUSTOMER NAME: {{ order.customer_name }} <br/>
    CUSTOMER SURNAME: {{ order.customer_surname }} <br/>
    EMAIL: {{ order.customer_email }} <br/>
    PHONE NUMBER: {{ order.customer_phone_number }} <br/>
    CREATED DATE: {{ order.created }} <br/>
    MODIFIED DATE: {{ order.modified }} <br/>
    ADDITIONAL INFO: <br/>
    {{ order.additional_info }} <br/>

    PRODUCTS:
    <table>
        <thead>
            <tr>
                <th>PRODUCT_ID</th>
                <th>PRODUCT TITLE</th>
                <th>CATEGORY</th>
                <th>PRICE</th>
            </tr>
        </thead>
        <tbody>
            {% for product in order.products.all %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table><br/>
</body>
</html>